<div class="container">


	<div class="row">


		<div class="col-md-5">
			<div class="well">

				<div class="media">
				  <div class="media-left">
				  	<img class="media-object" src="..." alt="...">
				  </div>
				  <div class="media-body">
				    <h3><%= @character.char_name %></h3>
					<p>(<%= @character.player_name %>)</p>
					<p><%= @character.level %> <%= @character.background %> <%= @character.class_1 %></p>
				  </div>
				</div>
				
			</div>
		</div>

		<div class="col-md-5">
			<div class="well">
			<center>
				<p>HP: 13 ------ Defense: 10</p>
				<p>Fortitude: 10 ------ Reflex: 10 ------ Will: 10</p>
			</center>
			</div>
		</div>

		<div class="col-md-2">
			<div class="well">
				<p>Speed: 10</p>
				<p>Initiative: 10</p>
			</div>
		</div>

	</div>


	<div class="row">


	<div class="col-md-8">
		<div id="tabs">
		  <ul>
		    <li><a href="#tabs-1">Description</a></li>
		    <li><a href="#tabs-2">Attacks</a></li>
		    <li><a href="#tabs-3">Weaves</a></li>
		    <li><a href="#tabs-4">Gear</a></li>
		  </ul>
		  <div id="tabs-1">
		    <p>Gender: <%= @character.gender %></p>
		    <p>Weight: <%= @character.weight %>lbs</p>
		    <p>Skin: <%= @character.skin %></p>
		    <p>Hair: <%= @character.hair %></p>
		    <p>Eyes: <%= @character.eyes %></p>
		  </div>
		  <div id="tabs-2">
		    <p>COMING SOON</p>
		  </div>
		  <div id="tabs-3">
		    <p>COMING SOON</p>
		  </div>
		  <div id="tabs-4">
		    <p>COMING SOON</p>
		  </div>
		</div>
	</div>

	<div class="col-md-4">

		<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title">ABILITIES</h3>
  			</div>
  			<div class="panel-body">
  				<table class="table">
				  <tr>
				    <th>STR</th>
				    <th>DEX</th>
				    <th>INT</th>
				    <th>WIS</th>
				    <th>CHA</th>
				  </tr>
				  <tr>
				    <td>?</td>
				    <td>?</td>
				    <td>?</td>
				    <td>?</td>
				    <td>?</td>
				  </tr>
				</table>
				<table class="table">
					<tr>
						
					</tr>
					<tr>
						<td>Skill 1</td>
						<td>Skill 2</td>
						<td>Skill 1</td>
						<td>Skill 2</td>
					</tr>
					<tr>
						<td>5</td>
						<td>5</td>
					</tr>
				</table>
  			</div>
  		</div>

		<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title">SKILLS</h3>
  			</div>
  			<div class="panel-body">
  			<ul class="list-group">
				<li class="list-group-item">Animal Empathy: </li>
				<li class="list-group-item">Appraise: </li>
				<li class="list-group-item">Balance: </li>
				<li class="list-group-item">Bluff: </li>
				<li class="list-group-item">Climb: </p>
				<li class="list-group-item">Craft (): </p>
				<li class="list-group-item">Decipher Script: </p>
				<li class="list-group-item">Diplomacy: </p>
				<li class="list-group-item">Disable_device: </p>
				<p>Disguise: </p>
				<p>Escape Artist: </p>
				<p>Forgery: </p>
				<p>Gather Information: </p>
				<p>Handle Animal: </p>
				<p>Heal: </p>
				<p>Hide: </p>
				<p>Innuendo: </p>
				<p>Intuit_direction: </p>
				<p>Jump: </p>
				<p>Knowledge (Age of Legends): </p>
				<p>Knowledge (Arcana): </p>
				<p>Knowledge (Architecture and Engineering): </p>
				<p>Knowledge (Blight): </p>
				<p>Knowledge (Geography): </p>
				<p>Knowledge (History): </p>
				<p>Knowledge (Local): </p>
				<p>Knowledge (Nature): </p>
				<p>Knowledge (Nobility): </p>
				<p>Knowledge (History): </p>
				<p>Listen: </p>
				<p>Move Silently: </p>
				<p>Open Lock: </p>
				<p>Perform: </p>
				<p>Read Lips: </p>
				<p>Ride: </p>
				<p>Search: </p>
				<p>Sense Motive: </p>
				<p>Spot: </p>
				<p>Swim: </p>
				<p>Tumble: </p>
				<p>Use Rope: </p>
				<p>Weavesight: </p>
				<p>Wilderness Lore: </p>
			</ul>
			</div>
		</div>
	</div>


	</div>

</div>

