
<%= form_tag skills_path do %>


<div class="container">
<div class="row">


<!-- Strength -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Strength</h3>
        <br />

        <p>Strength measures your character's muscle and physical power. This ability is especially important for <b>Armsmen</b>, <b>Woodsman</b>, <b>Algai'd'siswai</b>, and anyone else who gets involved in a lot of combat.</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :str %>
        </div>

    </center>

  </div>
</div>


<!-- Dexterity -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Dexterity</h3>
        <br />

        <p>Dexterity measures hand-eye coordination, agility, reflexes, and balance. This ability is important for <b>Wanderers</b>, characters who wear little to no armor, and characters who want to be skilled archers.</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :dex %>
        </div>

    </center>

  </div>
</div>

<!-- Constitution -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Constitution</h3>
        <br />

        <p>Constitution represents a character's health, stamina, and general fortitude. Since a character's constitution affects their hit points, it's an important ability for <b>everyone</b> the <i>Wheel of Time</i> world.</p>
        <br />  

        <div class="form-group">
          <p>(COMING SOON)</p>
        </div>
        <br/>

    </center>

  </div>
</div>


<!-- Intelligence -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Intelligence</h3>
        <br />

        <p>Intelligence represents how well your character learns, reasons, and deduces. Intelligence is important for <b>Initiates</b>, or any character who wants to have a strong assortment of skills.</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :int %>
        </div>

    </center>

  </div>
</div>


<!-- Wisdom -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Wisdom</h3>
        <br />

        <p>Wisdom describes a character's willpower, common sense, perceptiveness, and intuition. Wisdom is great for any perceptive character, and it is a crucial ability for channelers; <b>Initiates</b> and <b>Wilders</b>.</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :wis %>
        </div>

    </center>

  </div>
</div>


<!-- Charisma -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Charisma</h3>
        <br />

        <p>Charisma measures a character's force of personality, persuasiveness, personal magnetism, ability to lead, and physical attractiveness. Charisma is most important for <b>Wilders</b>, or any character that puts their personality to use.</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :cha %>
        </div>

    </center>

  </div>
</div>


<!-- -->

</div>
</div>


<!-- Update -->

<center>
  <br/>
  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
</center>


<% end %>