<%= form_tag skills_path do %>


<div class="container">
<div class="row">


<!-- Strength -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Strength</h3>
        <br />

        <p>bla bla bla bla bla</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :str %>
        </div>

    </center>

  </div>
</div>


<!-- Dexterity -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Dexterity</h3>
        <br />

        <p>bla bla bla bla bla</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :dex %>
        </div>

    </center>

  </div>
</div>


<!-- Intelligence -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Intelligence</h3>
        <br />

        <p>bla bla bla bla bla</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :int %>
        </div>

    </center>

  </div>
</div>


<!-- Wisdom -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Wisdom</h3>
        <br />

        <p>bla bla bla bla bla</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :wis %>
        </div>

    </center>

  </div>
</div>


<!-- Charisma -->


<div class="col-md-4">

  <div class="well">

    <center>

        <h3>Charisma</h3>
        <br />

        <p>bla bla bla bla bla</p>
        <br />  

        <div class="form-group">
          <%= label_tag "Score: " %>
          <%= number_field_tag :cha %>
        </div>

    </center>

  </div>
</div>


<!-- -->

</div>
</div>


<!-- Update -->

<center>
  <br/>
  <div class="actions">
    <%= submit_tag "Update" %>
  </div>
</center>


<% end %>