<%= form_with(model: character, local: true) do |form| %>



<div class="container">
<div class="row">


<!-- Aiel -->


<div class="col-md-4">

  <div class="well">
    <center>

      <h3>Aiel</h3>
      <br />

      <%= link_to changeback_path(background: "Aiel") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>

      <a href="#" data-toggle="modal" data-target="#myModal_Aiel">
        <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>

    <div class="modal fade" id="myModal_Aiel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center><h4 class="modal-title" id="myModalLabel">
              <a href="https://wot.fandom.com/wiki/Aiel" target="_blank">Aiel</a>
            </h4></center>
          </div>
          <div class="modal-body">

            <h4>Description:</h4>
            <p>The Aiel (pronounced: eye-EEL) are a race of people who live between the "wetlanders" in the Westlands and the Sharans in the east, in a desert which the Aiel call the "Three-fold Land" and everyone else calls the "Aiel Waste". They have earned a reputation as exceptionally skilled warriors, but little else is known outside the Waste. Physically, Aiel can be recognized through their unusual height, characteristic pale eyes and light-colored hair, as well as their distinctive clothing.</p>

            <center><p>(From the <a href="https://wot.fandom.com/wiki/A_beginning" target="_blank">WoT Wiki</a>)</p></center>
            <br/>

            <h4>Background Feats:</h4>
            <p>Blooded, Bullheaded, Disciplined, Stealthy, Survivor</p>
            <br/>

            <h4>Background Skills:</h4>
            <p>Hide, Move Silently, Spot, Wilderness Lore</p>
            <br/>

            <h4>Home Language:</h4>
            <p>Common (Aiel)</p>
            <h5>Bonus Language Choices:</h5>
            <p>Aiel Hand-Speech (Clan), Aiel Hand-Speech (Society), Common (Cairhienin)</p>
            <br/>

            <h4>Equipment:</h4>
            <p>Tent; cadin'sor; waterskin; 2 healer's balms</p>
            <p>Jewelry (60mk)</p>
            <p>Shortbow, Aiel; 20 arrows; buckler</p>

          </div>

          <div class="modal-footer">
            <center>
          <%= link_to changeback_path(background: "Aiel") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
            </center>
          </div>

        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Atha'an Miere -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Atha'an Miere</h3>
      <br />

      <%= link_to changeback_path(background: "Atha'an Miere") do %>
        <div class="btn btn-default">Choose Background</div>
      <% end %> 
      <br/>

      <p></p>
      <br/>

      <a href="#" data-toggle="modal" data-target="#myModal_Atha">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>

    <div class="modal fade" id="myModal_Atha" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <center><h4 class="modal-title" id="myModalLabel">
              <a href="https://wot.fandom.com/wiki/Atha'an_Miere" target="_blank">Atha'an Miere</a>
            </h4></center>
          </div>
          <div class="modal-body">

            <h4>Description:</h4>
            <p>The Sea Folk, or more properly Atha'an Miere (ah-thah-AHN mee-EHR), are a seafaring people who live on ships and the islands in the Aryth Ocean and Sea of Storms. They take every effort to be born, give birth, marry, and die on board their ships. They only show up on the mainland to trade goods, or until their prophecy is fulfilled. They typically have a dark complexion, and are seen as "exotic" by mainlanders.</p>

            <center><p>(From the <a href="https://wot.fandom.com/wiki/A_beginning" target="_blank">WoT Wiki</a>)</p></center>
            <br/>

            <h4>Background Feats:</h4>
            <p>Disciplined, Mercantile Background, Sea Legs, Silver Palm, Smooth Talk</p>
            <br/>

            <h4>Background Skills:</h4>
            <p>Intuit Direction, Profession (Sailor), Swim, Use Rope</p>
            <h5>Required Skill:</h5>
            <p>Profession (Sailor)</p>
            <br/>

            <h4>Home Language:</h4>
            <p>Common (Atha'an Miere)</p>
            <h5>Bonus Language Choices:</h5>
            <p>Common (Arad Doman), Common (Ebou Dar), Common (Illian), Common (Tarabon), Common (Tairen)</p>
            <br/>

            <h4>Equipment:</h4>
            <p>rapier; hourglass</p>
            <p>2 healer's balms; lantern, hooded; rope, silk (50ft)</p>
            <p>jewelry (100 mk)</p>
            <p></p>

          </div>

          <div class="modal-footer">
            <center>
          <%= link_to changeback_path(background: "Atha'an Miere") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
            </center>
          </div>

        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Borderlander -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Borderlander</h3>
      <br />

      <%= link_to changeback_path(background: "Borderlander") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/> 

      <a href="#" data-toggle="modal" data-target="#myModal_Borderlander">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Borderlander" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Borderlander</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Borderlander") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Cairhienen -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Cairhienen</h3>
      <br />

      <%= link_to changeback_path(background: "Cairhienen") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Cairhienen">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Cairhienen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Cairhienen</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Cairhienen") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Domani -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Domani</h3>
      <br />

      <%= link_to changeback_path(background: "Domani") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Domani">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Domani" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Domani</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Domani") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Ebou Dari -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Ebou Dari</h3>
      <br />

      <%= link_to changeback_path(background: "Ebou Dari") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Ebou">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Ebou" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ebou Dari</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Ebou Dari") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Illianer -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Illianer</h3>
      <br />

      <%= link_to changeback_path(background: "Illianer") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Illianer">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Illianer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Illianer</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Illianer") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Midlander -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Midlander</h3>
      <br />

      <%= link_to changeback_path(background: "Midlander") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Midlander">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Midlander" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Midlander</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Midlander") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>

<!-- Ogier -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Ogier</h3>
      <br />

      <%= link_to changeback_path(background: "Ogier") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Ogier">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Ogier" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ogier</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Ogier") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Tairen -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Tairen</h3>
      <br />

      <%= link_to changeback_path(background: "Tairen") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Tairen">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Tairen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Tairen</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Tairen") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>


<!-- Tar Valoner -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Tar Valoner</h3>
      <br />

      <%= link_to changeback_path(background: "Tar Valoner") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
      <br/>

      <p></p>
      <br/>   

      <a href="#" data-toggle="modal" data-target="#myModal_Tar">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Tar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Tar Valoner</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Tar Valoner") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>

<!-- Taraboner -->


<div class="col-md-4">

  <div class="well">

    <center>

      <h3>Taraboner</h3>
      <br />

      <%= link_to changeback_path(background: "Taraboner") do %>
          <div class="btn btn-default">Choose Background</div>
      <% end %>
      <br/>

      <p></p>
      <br/>  

      <a href="#" data-toggle="modal" data-target="#myModal_Taraboner">
      <span class="glyphicon glyphicon-plus"></span> More Info
      </a>

    </center>


    <div class="modal fade" id="myModal_Taraboner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Taraboner</h4>
          </div>
          <div class="modal-body">
            <p>hey!!!</p>
          </div>
          <div class="modal-footer">
          <%= link_to changeback_path(background: "Taraboner") do %>
            <div class="btn btn-default">Choose Background</div>
          <% end %>
          </div>
        </div>
      </div>
    </div> 

  </div>

</div>

<!-- -->



</div>
</div>



<% end %>