<%= form_with(model: character, local: true) do |form| %>

  <%= link_to changeback_path(background: "Aiel") do %>
  <div class="btn btn-default">Aiel</div>
  <% end %>

  <%= link_to changeback_path(background: "Atha'an Miere") do %>
  <div class="btn btn-default">Atha'an Miere</div>
  <% end %>

  <%= link_to changeback_path(background: "Borderlander") do %>
  <div class="btn btn-default">Borderlander</div>
  <% end %>

  <%= link_to changeback_path(background: "Cairhienen") do %>
  <div class="btn btn-default">Cairhienen</div>
  <% end %>

  <%= link_to changeback_path(background: "Domani") do %>
  <div class="btn btn-default">Domani</div>
  <% end %>

  <%= link_to changeback_path(background: "Ebou Dari") do %>
  <div class="btn btn-default">Ebou Dari</div>
  <% end %>

  <%= link_to changeback_path(background: "Illianer") do %>
  <div class="btn btn-default">Illianer</div>
  <% end %>

  <%= link_to changeback_path(background: "Midlander") do %>
  <div class="btn btn-default">Midlander</div>
  <% end %>

  <%= link_to changeback_path(background: "Ogier") do %>
  <div class="btn btn-default">Ogier</div>
  <% end %>

  <%= link_to changeback_path(background: "Tairen") do %>
  <div class="btn btn-default">Tairen</div>
  <% end %>

  <%= link_to changeback_path(background: "Tar Valoner") do %>
  <div class="btn btn-default">Tar Valoner</div>
  <% end %>

  <%= link_to changeback_path(background: "Taraboner") do %>
  <div class="btn btn-default">Taraboner</div>
  <% end %>

<% end %>