<%= form_with(model: character, local: true) do |form| %>



<div class="container">
<div class="row">
	


<!-- Algai'd'siswai -->

<div class="col-md-4">

	<div class="well">

		<center>

	      <h3>Algai'd'siswai</h3>
	      <br />

	      <p>bla bla bla bla bla</p>
	      <br />  

	      <a href="#" data-toggle="modal" data-target="#myModal_Algai">
			<span class="glyphicon glyphicon-plus"></span> More Info
		</a>

	    </center>


		<div class="modal fade" id="myModal_Algai" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Algai'd'siswai</h4>
		      </div>
		      <div class="modal-body">
		        <p>hey!!!</p>
		      </div>
		      <div class="modal-footer">
		      	<% if @character.background == "Aiel" %>
			      	<%= link_to changeclass1_path(class_1: "Algai'd'siswai") do %>
			  			<div class="btn btn-default">Choose Class</div>
			 		<% end %>
			 	<% end %>
		      </div>
		    </div>
		  </div>
		</div>

	</div>

</div>


<!-- Armsman -->

<div class="col-md-4">
		  
	<div class="well">

		<center>

	      <h3>Armsman</h3>
	      <br />

	      <p>bla bla bla bla bla</p>
	      <br />  

	      <a href="#" data-toggle="modal" data-target="#myModal_Armsman">
			<span class="glyphicon glyphicon-plus"></span> More Info
		</a>

	    </center>


		  <div class="modal fade" id="myModal_Armsman" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Armsman</h4>
		      </div>
		      <div class="modal-body">
		        <p>hey!!!</p>
		      </div>
		      <div class="modal-footer">
		      	<%= link_to changeclass1_path(class_1: "Armsman") do %>
		  			<div class="btn btn-default">Choose Class</div>
		  		<% end %>
		      </div>
		    </div>
		  </div>
		</div>

	</div>

</div>


<!-- Initiate -->

<div class="col-md-4">

	<div class="well">

		<center>

	      <h3>Initiate</h3>
	      <br />

	      <p>bla bla bla bla bla</p>
	      <br />  

	      <a href="#" data-toggle="modal" data-target="#myModal_Initiate">
			<span class="glyphicon glyphicon-plus"></span> More Info
		</a>

	    </center>


		<div class="modal fade" id="myModal_Initiate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Initiate</h4>
		      </div>
		      <div class="modal-body">
		        <p>hey!!!</p>
		      </div>
		      <div class="modal-footer">
		      	<% if @character.background != "Ogier" %>
			      	<%= link_to changeclass1_path(class_1: "Initiate") do %>
			  			<div class="btn btn-default">Choose Class</div>
			  		<% end %>
			  	<% else %>
			  		<p>Class Unavailable. Ogier cannot Channel</p>
		  		<% end %>
		      </div>
		    </div>
		  </div>
		</div> 

	</div>

</div>


<!-- Noble -->

<div class="col-md-4">

	<div class="well">

		<center>

	      <h3>Noble</h3>
	      <br />

	      <p>bla bla bla bla bla</p>
	      <br />  

	      <a href="#" data-toggle="modal" data-target="#myModal_Noble">
			<span class="glyphicon glyphicon-plus"></span> More Info
		</a>

	    </center>


		<div class="modal fade" id="myModal_Noble" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Noble</h4>
		      </div>
		      <div class="modal-body">
		        <p>hey!!!</p>
		      </div>
		      <div class="modal-footer">
			    <%= link_to changeclass1_path(class_1: "Noble") do %>
		  			<div class="btn btn-default">Choose Class</div>
		 		<% end %>
		      </div>
		    </div>
		  </div>
		</div> 

	</div>	

</div>


<!-- Wilder -->

<div class="col-md-4">

	<div class="well">

		<center>

	      <h3>Wilder</h3>
	      <br />

	      <p>bla bla bla bla bla</p>
	      <br />  

	      <a href="#" data-toggle="modal" data-target="#myModal_Wilder">
			<span class="glyphicon glyphicon-plus"></span> More Info
		  </a>	

	    </center>


		<div class="modal fade" id="myModal_Wilder" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Wilder</h4>
		      </div>
		      <div class="modal-body">
		        <p>hey!!!</p>
		      </div>
		      <div class="modal-footer">
		      	<% if @character.background != "Ogier" %>
			      	<%= link_to changeclass1_path(class_1: "Wilder") do %>
						<div class="btn btn-default">Choose Class</div>
					<% end %>
			  	<% else %>
			  		<p>Class Unavailable. Ogier cannot Channel</p>
		  		<% end %>
		      </div>
		    </div>
		  </div>
		</div> 

	</div>

</div>


<!-- Woodsman -->   

<div class="col-md-4">

	<div class="well">

		<center>

	      <h3>Woodsman</h3>
	      <br />

	      <p>bla bla bla bla bla</p>
	      <br />  

	      <a href="#" data-toggle="modal" data-target="#myModal_Woodsman">
			<span class="glyphicon glyphicon-plus"></span> More Info
			</a>

	    </center>


		<div class="modal fade" id="myModal_Woodsman" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Woodsman</h4>
		      </div>
		      <div class="modal-body">
		        <p>hey!!!</p>
		      </div>
		      <div class="modal-footer">
			    <%= link_to changeclass1_path(class_1: "Woodsman") do %>
					<div class="btn btn-default">Choose Class</div>
				<% end %>
		      </div>
		    </div>
		  </div>
		</div> 

	</div>	

</div>


<!-- -->			




	
</div>
</div>

<% end %>