<p id="notice"><%= notice %></p>

<p>
  <strong>Char name:</strong>
  <%= @character.char_name %>
</p>

<p>
  <strong>Player name:</strong>
  <%= @character.player_name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @character.class %>
</p>

<p>
  <strong>Class 2:</strong>
  <%= @character.class_2 %>
</p>

<p>
  <strong>Class 3:</strong>
  <%= @character.class_3 %>
</p>

<p>
  <strong>Class 4:</strong>
  <%= @character.class_4 %>
</p>

<p>
  <strong>Class 5:</strong>
  <%= @character.class_5 %>
</p>

<p>
  <strong>Background:</strong>
  <%= @character.background %>
</p>

<p>
  <strong>Level:</strong>
  <%= @character.level %>
</p>

<p>
  <strong>Size:</strong>
  <%= @character.size %>
</p>

<p>
  <strong>Age:</strong>
  <%= @character.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @character.gender %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @character.weight %>
</p>

<p>
  <strong>Eyes:</strong>
  <%= @character.eyes %>
</p>

<p>
  <strong>Hair:</strong>
  <%= @character.hair %>
</p>

<p>
  <strong>Skin:</strong>
  <%= @character.skin %>
</p>

<p>
  <strong>Str:</strong>
  <%= @character.str %>
</p>

<p>
  <strong>Dex:</strong>
  <%= @character.dex %>
</p>

<p>
  <strong>Int:</strong>
  <%= @character.int %>
</p>

<p>
  <strong>Wis:</strong>
  <%= @character.wis %>
</p>

<p>
  <strong>Cha:</strong>
  <%= @character.cha %>
</p>

<p>
  <strong>Hp max:</strong>
  <%= @character.hp_max %>
</p>

<p>
  <strong>Hp current:</strong>
  <%= @character.hp_current %>
</p>

<p>
  <strong>Defense:</strong>
  <%= @character.defense %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @character.speed %>
</p>

<p>
  <strong>Initiative:</strong>
  <%= @character.initiative %>
</p>

<p>
  <strong>Base attack:</strong>
  <%= @character.base_attack %>
</p>

<p>
  <strong>Melee attack:</strong>
  <%= @character.melee_attack %>
</p>

<p>
  <strong>Ranged attack:</strong>
  <%= @character.ranged_attack %>
</p>

<p>
  <strong>Fortitude:</strong>
  <%= @character.fortitude %>
</p>

<p>
  <strong>Reflex:</strong>
  <%= @character.reflex %>
</p>

<p>
  <strong>Will:</strong>
  <%= @character.will %>
</p>

<p>
  <strong>Animal empathy:</strong>
  <%= @character.animal_empathy %>
</p>

<p>
  <strong>Appraise:</strong>
  <%= @character.appraise %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @character.balance %>
</p>

<p>
  <strong>Bluff:</strong>
  <%= @character.bluff %>
</p>

<p>
  <strong>Climb:</strong>
  <%= @character.climb %>
</p>

<p>
  <strong>Craft 1:</strong>
  <%= @character.craft_1 %>
</p>

<p>
  <strong>Craft 1 focus:</strong>
  <%= @character.craft_1_focus %>
</p>

<p>
  <strong>Craft 2:</strong>
  <%= @character.craft_2 %>
</p>

<p>
  <strong>Craft 2 focus:</strong>
  <%= @character.craft_2_focus %>
</p>

<p>
  <strong>Craft 3:</strong>
  <%= @character.craft_3 %>
</p>

<p>
  <strong>Craft 3 focus:</strong>
  <%= @character.craft_3_focus %>
</p>

<p>
  <strong>Decipher script:</strong>
  <%= @character.decipher_script %>
</p>

<p>
  <strong>Diplomacy:</strong>
  <%= @character.diplomacy %>
</p>

<p>
  <strong>Disable device:</strong>
  <%= @character.disable_device %>
</p>

<p>
  <strong>Disguise:</strong>
  <%= @character.disguise %>
</p>

<p>
  <strong>Escape artist:</strong>
  <%= @character.escape_artist %>
</p>

<p>
  <strong>Forgery:</strong>
  <%= @character.forgery %>
</p>

<p>
  <strong>Gather information:</strong>
  <%= @character.gather_information %>
</p>

<p>
  <strong>Handle animal:</strong>
  <%= @character.handle_animal %>
</p>

<p>
  <strong>Heal:</strong>
  <%= @character.heal %>
</p>

<p>
  <strong>Hide:</strong>
  <%= @character.hide %>
</p>

<p>
  <strong>Innuendo:</strong>
  <%= @character.innuendo %>
</p>

<p>
  <strong>Intuit direction:</strong>
  <%= @character.intuit_direction %>
</p>

<p>
  <strong>Jump:</strong>
  <%= @character.jump %>
</p>

<p>
  <strong>Knowledge age:</strong>
  <%= @character.knowledge_age %>
</p>

<p>
  <strong>Knowledge arcana:</strong>
  <%= @character.knowledge_arcana %>
</p>

<p>
  <strong>Knowledge architecture:</strong>
  <%= @character.knowledge_architecture %>
</p>

<p>
  <strong>Knowledge blight:</strong>
  <%= @character.knowledge_blight %>
</p>

<p>
  <strong>Knowledge geography:</strong>
  <%= @character.knowledge_geography %>
</p>

<p>
  <strong>Knowledge history:</strong>
  <%= @character.knowledge_history %>
</p>

<p>
  <strong>Knowledge local:</strong>
  <%= @character.knowledge_local %>
</p>

<p>
  <strong>Knowledge nature:</strong>
  <%= @character.knowledge_nature %>
</p>

<p>
  <strong>Knowledge nobility:</strong>
  <%= @character.knowledge_nobility %>
</p>

<p>
  <strong>Knowledge history:</strong>
  <%= @character.knowledge_history %>
</p>

<p>
  <strong>Knowledge custom 1:</strong>
  <%= @character.knowledge_custom_1 %>
</p>

<p>
  <strong>Knowledge custom 1 focus:</strong>
  <%= @character.knowledge_custom_1_focus %>
</p>

<p>
  <strong>Knowledge custom 2:</strong>
  <%= @character.knowledge_custom_2 %>
</p>

<p>
  <strong>Knowledge custom 2 focus:</strong>
  <%= @character.knowledge_custom_2_focus %>
</p>

<p>
  <strong>Knowledge custom 3:</strong>
  <%= @character.knowledge_custom_3 %>
</p>

<p>
  <strong>Knowledge custom 3 focus:</strong>
  <%= @character.knowledge_custom_3_focus %>
</p>

<p>
  <strong>Listen:</strong>
  <%= @character.listen %>
</p>

<p>
  <strong>Move silently:</strong>
  <%= @character.move_silently %>
</p>

<p>
  <strong>Open lock:</strong>
  <%= @character.open_lock %>
</p>

<p>
  <strong>Perform 1:</strong>
  <%= @character.perform_1 %>
</p>

<p>
  <strong>Perform 1 focus:</strong>
  <%= @character.perform_1_focus %>
</p>

<p>
  <strong>Perform 2:</strong>
  <%= @character.perform_2 %>
</p>

<p>
  <strong>Perform 2 focus:</strong>
  <%= @character.perform_2_focus %>
</p>

<p>
  <strong>Perform 3:</strong>
  <%= @character.perform_3 %>
</p>

<p>
  <strong>Perform 3 focus:</strong>
  <%= @character.perform_3_focus %>
</p>

<p>
  <strong>Perform 4:</strong>
  <%= @character.perform_4 %>
</p>

<p>
  <strong>Perform 4 focus:</strong>
  <%= @character.perform_4_focus %>
</p>

<p>
  <strong>Perform 5:</strong>
  <%= @character.perform_5 %>
</p>

<p>
  <strong>Perform 5 focus:</strong>
  <%= @character.perform_5_focus %>
</p>

<p>
  <strong>Perform 6:</strong>
  <%= @character.perform_6 %>
</p>

<p>
  <strong>Perform 6 focus:</strong>
  <%= @character.perform_6_focus %>
</p>

<p>
  <strong>Pick pocket:</strong>
  <%= @character.pick_pocket %>
</p>

<p>
  <strong>Profession 1:</strong>
  <%= @character.profession_1 %>
</p>

<p>
  <strong>Profession 1 focus:</strong>
  <%= @character.profession_1_focus %>
</p>

<p>
  <strong>Profession 2:</strong>
  <%= @character.profession_2 %>
</p>

<p>
  <strong>Profession 2 focus:</strong>
  <%= @character.profession_2_focus %>
</p>

<p>
  <strong>Profession 3:</strong>
  <%= @character.profession_3 %>
</p>

<p>
  <strong>Profession 3 focus:</strong>
  <%= @character.profession_3_focus %>
</p>

<p>
  <strong>Read lips:</strong>
  <%= @character.read_lips %>
</p>

<p>
  <strong>Ride 1:</strong>
  <%= @character.ride_1 %>
</p>

<p>
  <strong>Ride 1 focus:</strong>
  <%= @character.ride_1_focus %>
</p>

<p>
  <strong>Ride 2:</strong>
  <%= @character.ride_2 %>
</p>

<p>
  <strong>Ride 2 focus:</strong>
  <%= @character.ride_2_focus %>
</p>

<p>
  <strong>Ride 3:</strong>
  <%= @character.ride_3 %>
</p>

<p>
  <strong>Ride 3 focus:</strong>
  <%= @character.ride_3_focus %>
</p>

<p>
  <strong>Search:</strong>
  <%= @character.search %>
</p>

<p>
  <strong>Sense motive:</strong>
  <%= @character.sense_motive %>
</p>

<p>
  <strong>Spot:</strong>
  <%= @character.spot %>
</p>

<p>
  <strong>Swim:</strong>
  <%= @character.swim %>
</p>

<p>
  <strong>Tumble:</strong>
  <%= @character.tumble %>
</p>

<p>
  <strong>Use rope:</strong>
  <%= @character.use_rope %>
</p>

<p>
  <strong>Weavesight:</strong>
  <%= @character.weavesight %>
</p>

<p>
  <strong>Wilderness lore:</strong>
  <%= @character.wilderness_lore %>
</p>

<p>
  <strong>Money cp:</strong>
  <%= @character.money_cp %>
</p>

<p>
  <strong>Money sp:</strong>
  <%= @character.money_sp %>
</p>

<p>
  <strong>Money mk:</strong>
  <%= @character.money_mk %>
</p>

<p>
  <strong>Money gc:</strong>
  <%= @character.money_gc %>
</p>

<p>
  <strong>Light load:</strong>
  <%= @character.light_load %>
</p>

<p>
  <strong>Medium load:</strong>
  <%= @character.medium_load %>
</p>

<p>
  <strong>Heavy load:</strong>
  <%= @character.heavy_load %>
</p>

<p>
  <strong>Max load:</strong>
  <%= @character.max_load %>
</p>

<p>
  <strong>Weave save mod:</strong>
  <%= @character.weave_save_mod %>
</p>

<p>
  <strong>Weave perday 0:</strong>
  <%= @character.weave_perday_0 %>
</p>

<p>
  <strong>Weave perday 1:</strong>
  <%= @character.weave_perday_1 %>
</p>

<p>
  <strong>Weave perday 2:</strong>
  <%= @character.weave_perday_2 %>
</p>

<p>
  <strong>Weave perday 3:</strong>
  <%= @character.weave_perday_3 %>
</p>

<p>
  <strong>Weave perday 4:</strong>
  <%= @character.weave_perday_4 %>
</p>

<p>
  <strong>Weave perday 5:</strong>
  <%= @character.weave_perday_5 %>
</p>

<p>
  <strong>Weave perday 6:</strong>
  <%= @character.weave_perday_6 %>
</p>

<p>
  <strong>Weave perday 7:</strong>
  <%= @character.weave_perday_7 %>
</p>

<p>
  <strong>Weave perday 8:</strong>
  <%= @character.weave_perday_8 %>
</p>

<p>
  <strong>Weave perday 9:</strong>
  <%= @character.weave_perday_9 %>
</p>

<p>
  <strong>Weave bonus 0:</strong>
  <%= @character.weave_bonus_0 %>
</p>

<p>
  <strong>Weave bonus 1:</strong>
  <%= @character.weave_bonus_1 %>
</p>

<p>
  <strong>Weave bonus 2:</strong>
  <%= @character.weave_bonus_2 %>
</p>

<p>
  <strong>Weave bonus 3:</strong>
  <%= @character.weave_bonus_3 %>
</p>

<p>
  <strong>Weave bonus 4:</strong>
  <%= @character.weave_bonus_4 %>
</p>

<p>
  <strong>Weave bonus 5:</strong>
  <%= @character.weave_bonus_5 %>
</p>

<p>
  <strong>Weave bonus 6:</strong>
  <%= @character.weave_bonus_6 %>
</p>

<p>
  <strong>Weave bonus 7:</strong>
  <%= @character.weave_bonus_7 %>
</p>

<p>
  <strong>Weave bonus 8:</strong>
  <%= @character.weave_bonus_8 %>
</p>

<p>
  <strong>Weave bonus 9:</strong>
  <%= @character.weave_bonus_9 %>
</p>

<p>
  <strong>Language 1:</strong>
  <%= @character.language_1 %>
</p>

<p>
  <strong>Language 2:</strong>
  <%= @character.language_2 %>
</p>

<p>
  <strong>Language 3:</strong>
  <%= @character.language_3 %>
</p>

<p>
  <strong>Language 4:</strong>
  <%= @character.language_4 %>
</p>

<p>
  <strong>Language 5:</strong>
  <%= @character.language_5 %>
</p>

<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
